site_name: sage_broccoliqn Documentation
site_url: https://denvercal1234github.github.io/sage_broccoliqn/


site_author: Quang Nguyen

repo_url: https://github.com/denvercal1234GitHub/sage_broccoliqn
repo_name: denvercal1234GitHub/sage_broccoliqn


theme:
  name: material
  features:
    - navigation.indexes
    - navigation.sections
    - navigation.instant
  palette:
    scheme: default
    primary: teal
    accent: indigo

nav:
  - Home: index.md
  - Installation: installation.md
  - Development: development.md

markdown_extensions:
  - admonition
  - codehilite
  - toc:
      permalink: true
  - tables
  - footnotes
