site_name: anndata_Seurat_Utilities Documentation
site_url: https://denvercal1234github.github.io/anndata_Seurat_Utilities
site_author: Quang Nguyen
repo_url: https://github.com/denvercal1234GitHub/anndata_Seurat_Utilities
repo_name: denvercal1234GitHub/anndata_Seurat_Utilities

theme:
  name: material
  features:
    - navigation.indexes
    - navigation.sections
    - navigation.instant
  palette:
    scheme: default
    primary: teal
    accent: indigo

nav:
  - Home: index.md
  - Installation: installation.md
  - Usage: usage.md
  - API Reference: api.md
  - Development: development.md

markdown_extensions:
  - admonition
  - codehilite
  - toc:
      permalink: true
  - tables
  - footnotes
